<div class="footer p-5">
  <div class="row">
    <div class="col-sm-11">

      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">Inicio</li>
        <li class="list-group-item">Acerca de nosotros</li>
        <li class="list-group-item">Historia</li>
        <li class="list-group-item">Contacto</li>
      </ul>
      <img src="src/assets/img/fill-2.svg" alt="" class="float-right">
      <div class="social">
        <img src="assets/img/group-23.svg" alt="">
        <img src="assets/img/group-24.svg" alt="">
        <img src="assets/img/group-25.svg" alt="">
        <img src="assets/img/group-23.svg" alt="">
        <img src="assets/img/group-22.svg" alt="">
      </div>


    </div>

    <div class="col-sm-1 d-flex flex-column justify-content-center">
      <img src="assets/img/fill-2.svg" alt="">
    </div>
  </div>

</div>
