<div class="body-container">

  <div class="container">
    <div class="row p-5">
      <div class="col-sm-2">
        <span class="span-tennis-body">Tennis</span>
      </div>

      <div class="col-sm-8">
        <p class="tittle-body">
          Raquetas. Accesorios.
          <br>
          Pelotas.
        </p>

        <p class="subttitle-body">
          Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.
        </p>
      </div>

      <div class="col-sm-2 d-flex flex-column justify-content-end">
        <button class="btn btn-outline-body">
          Historia <i class="fa fa-long-arrow-right arrow" aria-hidden="true"></i>
        </button>
      </div>
    </div>

  </div>

  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="5000">

    <div class="carousel-inner">

      <div class="row">

        <div class="col-12 col-sm-4 bg-controls">

          <div class="text-container">
            <p class="carousel-tittle">
              Nuestras
              <br>
              <b>Raquetas</b>
            </p>
            <p class="carousel-subttitle">
              Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.
            </p>
          </div>


          <div class="controls">
            <a class="carousel-control-prev" href="#demo" data-slide="prev">

            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">

            </a>

            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
              <li data-target="#demo" data-slide-to="3"></li>
            </ul>
          </div>

        </div>

        <div class="col-12 col-sm-8 raquetas-container">

          <div class="carousel-item active">

            <div class="raquetas d-flex flex-row justify-content-between">
              <div>
                <span class="number">1</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">2</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">3</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
            </div>

          </div>

          <div class="carousel-item">
            <div class="raquetas d-flex flex-row justify-content-between">
              <div>
                <span class="number">4</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">5</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">6</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="raquetas d-flex flex-row justify-content-between">
              <div>
                <span class="number">7</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">8</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">9</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="raquetas d-flex flex-row justify-content-between">
              <div>
                <span class="number">10</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">11</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
              <div>
                <span class="number">12</span>
                <img src="assets/img/group-11.png" alt="Los Angeles">
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>


  <div class="section">
    <img src="assets/img/action-athlete-ball-342361.png" alt="" class="img-body">
  </div>

</div>
